/*.crow {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    border-radius: 20px;

    .crow-image-container {
        width: 100%;
        height: 70%;
        background-color: var(--color-2);
        border-radius: 20px;
    }

    .crow-info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        border-radius: 20px;

        .crow-title {
            display: flex;
            align-items: start;
            gap: 10px;

            .crow-user-icon {
                border-radius: 100%;
                width: 35px;
                height: 35px;
                background-color: var(--color-2);
                overflow: hidden;
            }

            .crow-user-name {
                width: 80%;

                h3 {
                    height: fit-content;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

}
*/
.crow {
    width: 250px;
    height: 230px;
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.crow:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    .crow-user-name h3 {
        margin: 0;
        font-size: 20px;
        white-space: wrap;
        text-wrap: normal;
        font-weight: 600;
        text-overflow: none;
    }
}

.crow-image-container {
    height: 60%;
    width: 100%;
    background-color: var(--color-1);
}

.crow-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.crow-info {
    height: 40%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.crow-title {
    display: flex;
    align-items: center;
    gap: 12px;
    text-align: left;

    width: 50%;
}

.crow-user-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: var(--color-2);
}

.crow-user-icon-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.crow-user-name h3 {
    margin: 0;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    font-weight: 600;
}

.crow-user-name p {
    margin: 4px 0 0 0;
    font-size: 0.85rem;
    color: #666;
}