.featured-crows-container {
    display: flex;
    width: 90%;
    max-height: 600px;
    gap: 20px;
    align-items: center;
    justify-content: center;

    .crow-of-the-week-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        width: clamp(300px, 90%, 30%);
        height: 100%;

        .crow-of-the-week-content {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;


            .crow-of-the-week-image-container {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 250px;
                background-color: var(--color-2);
                border-radius: 20px;
                overflow: hidden;
            }

            .crow-of-the-week-info {
                display: flex;
                flex-direction: column;
                gap: 20px;
                height: fit-content;
                padding: 16px;

                .crow-of-the-week-title {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .crow-of-the-week-user-icon {
                        border-radius: 100%;
                        overflow: hidden;
                        width: 48px;
                        height: 48px;
                        background-color: var(--color-2);
                    }

                    .crow-of-the-week-user-icon:hover {
                        scale: 1.05;
                        transition: scale 0.3s ease;
                    }

                    .crow-user-icon {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .crow-of-the-week-user-name p {
                        margin: 4px 0 0 0;
                        font-size: 0.85rem;
                        color: var(--color-3);
                        width: fit-content;
                    }

                    .crow-of-the-week-user-name p:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }

                .crow-of-the-week-description p {
                    word-break: break-all;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .crow-category {
                    gap: 20px;
                    margin-bottom: 2rem;
                    background-color: var(--color-2);
                    color: black;
                    width: fit-content;
                    padding: 5px 20px;
                    border-radius: 20px;
                }

                .crow-category:hover {
                    scale: 1.05;
                    transition: all 0.3s;
                    background-color: var(--color-3);
                    cursor: pointer;
                }
            }
        }
    }

    .crow-of-the-week-content:hover {
        transform: scale(1.02);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        cursor: pointer;

        .crow-item-user-name h3 {
            margin: 0;
            font-size: 20px;
            white-space: wrap;
            text-wrap: normal;
            font-weight: 600;
            text-overflow: none;
        }
    }

    .other-crows-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        height: 100%;
        gap: 20px;

        h2 {
            width: 100%;
            text-align: start;
        }

        .other-crows-list {
            width: fit-content;
            display: flex;
            flex-direction: row;
            gap: 20px;
            flex-wrap: wrap;
            height: 100%;
        }

    }
}