:root {
    --color-1: #8F87F1;
    --color-2: #C68EFD;
    --color-3: #E9A5F1;
    --color-4: #FED2E2;
    --color-5: #352F77;

    --color-header: #1D1948;
    --color-separator: #4C44AC;
    --color-footer: #1D1948;

    --color-1-button-hover: #7268d8;
    --color-3-button-hover: #d97ee6;
    --color-5-button-hover: #262161;

    --color-1-transparent: #9087f162;
}