*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  background: linear-gradient(to bottom, var(--color-1), var(--color-3));
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-page {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.clouds {
  position: absolute;
  width: 100%;
  min-height: 100vh;

  .cloud-1 {
    right: -230px;
    animation: moveCloud1 10s ease-in-out infinite;
    -webkit-animation: moveCloud1 10s ease-in-out infinite;
  }

  .cloud-2 {
    left: -100px;
    bottom: -100px;
    animation: moveCloud2 12s ease-in-out infinite;
    -webkit-animation: moveCloud2 12s ease-in-out infinite;
  }

  img {
    width: 550px;
    object-fit: cover;
    position: absolute;
  }

}

@keyframes moveCloud1 {
  0% {
    transform: translateX(0px) translateY(0);
    -webkit-transform: translateX(0px) translateY(0);
    -moz-transform: translateX(0px) translateY(0);
    -ms-transform: translateX(0px) translateY(0);
    -o-transform: translateX(0px) translateY(0);
  }

  50% {
    transform: translateX(40px);
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
  }

  100% {
    transform: translateX(0px) translateY(0);
    -webkit-transform: translateX(0px) translateY(0);
    -moz-transform: translateX(0px) translateY(0);
    -ms-transform: translateX(0px) translateY(0);
    -o-transform: translateX(0px) translateY(0);
  }
}

@keyframes moveCloud2 {
  0% {
    transform: translateX(0px) translateY(0);
    -webkit-transform: translateX(0px) translateY(0);
    -moz-transform: translateX(0px) translateY(0);
    -ms-transform: translateX(0px) translateY(0);
    -o-transform: translateX(0px) translateY(0);
  }

  50% {
    transform: translateX(50px) translateY(-20px);
    -webkit-transform: translateX(50px) translateY(-20px);
    -moz-transform: translateX(50px) translateY(-20px);
    -ms-transform: translateX(50px) translateY(-20px);
    -o-transform: translateX(50px) translateY(-20px);
  }

  100% {
    transform: translateX(0px) translateY(0);
    -webkit-transform: translateX(0px) translateY(0);
    -moz-transform: translateX(0px) translateY(0);
    -ms-transform: translateX(0px) translateY(0);
    -o-transform: translateX(0px) translateY(0);
  }
}


.welcome-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 100dvh;
  overflow: hidden;
  position: relative;

  .welcome-page-screen-1 {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 70%;

    .welcome-page-screen-1-content {
      display: flex;
      flex-direction: column;
      z-index: 1;

      .logo-welcome-big {
        width: 30%;
      }

      .welcome-page-screen-1-options {
        display: flex;
        gap: 20px;

        .welcome-page-screen-1-options-option {
          display: flex;
          width: 30%;
          gap: 10px;
          flex-direction: column;
          background-color: var(--color-4);
          padding: 20px 15px;
          padding-top: 20px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

          h1 {
            font-weight: 700;
            font-size: 24px;
          }

          p {
            font-weight: 200;
            font-size: 16px;
          }
        }

        button {
          width: 150px;
          height: 40px;
        }

        .welcome-page-screen-1-options-option-help {
          border-radius: 70px 20px;
          justify-content: space-between;
          align-items: start;

          div {
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: end;
            align-items: end;
          }
        }

        .welcome-page-screen-1-options-option-create {
          border-radius: 20px 70px;
          justify-content: space-between;
          align-items: end;

          div {
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: start;
          }
        }
      }
    }
  }

  .welcome-page-screen-1-3dComponents {
    width: 50%;
    z-index: 0;
    position: absolute;
    right: 0;
    top: 20%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.welcome-page-screen-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  overflow: hidden;
}



.social-media-icons {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 50px;

  .social-media-icon {
    color: white;
    width: 30px;
    height: 30px;
  }
}

#welcome-page-crows {
  margin-top: 1000px;
  padding: 20px;
}

.animate-out {
  animation: translateOut 1s ease-in-out forwards;
  -webkit-animation: translateOut 1s ease-in-out forwards;
}

.animate-out-modal {
  animation: translateOut 1s ease-in-out forwards;
  -webkit-animation: translateOut 1s ease-in-out forwards;
}

@keyframes translateOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

.animate-in {
  animation: fadeIn 1s 1s ease-in-out forwards;
  -webkit-animation: fadeIn 1s 1s ease-in-out forwards;
  opacity: 0;
}

.animate-in-modal {
  animation: fadeIn 1s ease-in-out forwards;
  -webkit-animation: fadeIn 1s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}